SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Docker only captures output of the process with PID 1, therefore we need to redirect output to that process.
#
# As only root can redirect output to different process and we want to run the command as non-root user, we need
# to circumvent this by executing command as non-root via runuser tool and then forwarding output as root.

* * * * * root runuser -l __USER__ -c 'php /var/www/html/bin/command.php mail:process-job' >> /proc/1/fd/1 2>/proc/1/fd/2
