!.gitignore
!.htaccess
/.idea
/.vscode
.history
.DS_Store
.env
.phpcs.cache
.phpunit.result.cache

app/config/config.local.neon
node_modules
log/
temp/
vendor/
www/assets/

yarn-error.log
mix-manifest.json
docker-compose.override.yml
Thumbs.db
